In [ ]:
query=("""CREATE TABLE IF NOT EXISTS bootcamp.schools
            (school_id INT NOT NULL PRIMARY KEY,
            school_name VARCHAR(50) NOT NULL,
            website VARCHAR(250)
            )""")
cursor.execute(query)

query=("""CREATE TABLE IF NOT EXISTS bootcamp.programs
            (program_id INT NOT NULL PRIMARY KEY,
            program_name VARCHAR(50) NOT NULL,
            school_id INT NOT NULL,
            FOREIGN KEY (school_id) REFERENCES school(school_id)
            )""")
cursor.execute(query)

query=("""CREATE TABLE IF NOT EXISTS bootcamp.comments
            (comment_id INT NOT NULL PRIMARY KEY,
            anonymous boolean NOT NULL,
            year TINYINT,
            job_title VARCHAR(250),
            alumni NOT NULL boolean,
            comment_date date NOT NULL,
            program_id INT NOT NULL,
            overall_score float NOT NULL,
            curric_score float NOT NULL,
            job_score float NOT NULL,
            school_id INT NOT NULL,
            FOREIGN KEY (program_id) REFERENCES programs(program_id),
            FOREIGN KEY (school_id) REFERENCES schools(school_id)
            )""")
cursor.execute(query)

query = (""" CREATE TABLE IF NOT EXISTS bootcamp.location
            (location_id INT NOT NULL PRIMARY KEY, 
            country_id INT NOT NULL, 
            country_name VARCHAR(35) NOT NULL,
            city_id INT NOT NULL, 
            city_name VARCHAR(35) NOT NULL, 
            school_id INT NOT NULL,
            FOREIGN KEY (school_id) REFERENCES schools(school_id)
            )""")
cursor.execute(query)