# Importing Dataframes

In [1]:
import re
import pandas as pd
from pandas.io.json import json_normalize
import requests

In [2]:
schools_main = {
#top 10 coding
'actualize': '10505',
'clarusway': '11539',   
'learningfuze': '10862',
'springboard': '11035',  
'codesmith': '10643',
'code-platoon': '10627',
'knowledgehut': '10846',   
'udacity': '11118', 
'altcademy': '10517',
'tech-elevator': '11056',
    
#top 10 Data
#2'springboard': '11035', 
'dataquest': '10683',
'syntax-technologies': '11797',
'ironhack': '10828',
'tripleten': '11225', 
'colaberry': '11718',
'maven-analytics': '11740',
#2'udacity': '11118', 
'brainstation': '10571',
'ccs-learning-academy': '11736',

#top 10 ux
'designlab': '10697',    
#3'springboard': '11035',   
#2'ironhack': '10828',
'ux-design-institute': '11150',
'mento-design-academy': '11584',
'beginex': '10546',
#3'udacity': '11118', 
#2'brainstation': '10571',
'design-sprint-school': '10698',
'general-assembly': '10761'}


def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])

    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [3]:
TAG_RE = re.compile(r'<[^>]+>')
def remove_tags(x):
    return TAG_RE.sub('',x)

In [4]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])

    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school


    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools_main.items():
    a,b,c,d = get_school_info(school,id)

    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)
C:\Users\Jacob\AppData\Local\Temp\ipykernel_13512\3406472284.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

In [5]:
courses = pd.concat(courses_list)
display(courses)

,courses,school,school_id
0,Actualize Coding Bootcamp: Full-Time,actualize,10505
1,Actualize Coding Bootcamp: Part-Time,actualize,10505
2,Actualize Coding Bootcamp: Online Live,actualize,10505
0,AWS Solutions Architect,clarusway,11539
1,AWS Solutions Architect - Premium Full Time/Pa...,clarusway,11539
...,...,...,...
9,React Development (Short Course),general-assembly,10761
10,Software Engineering Bootcamp (Full-Time),general-assembly,10761
11,User Experience Design (Short Course),general-assembly,10761
12,User Experience Design Bootcamp (Full-Time),general-assembly,10761
13,Visual Design (Short Course),general-assembly,10761

In [6]:
locations = pd.concat(locations_list)
locations.head()

,id,description,country.id,country.name,country.abbrev,state.id,state.name,state.abbrev,state.keyword,city.id,city.name,city.keyword,school,school_id
0,15703,"Chicago, IL, United States",1.0,United States,US,15.0,Illinois,IL,illinois,39.0,Chicago,chicago,actualize,10505
1,16019,Online,NaN,NaN,NaN,1.0,Online,Online,online,NaN,NaN,NaN,actualize,10505
0,17789,Online,NaN,NaN,NaN,1.0,Online,Online,online,NaN,NaN,NaN,clarusway,11539
0,16712,"Irvine, CA, United States",1.0,United States,US,6.0,California,CA,california,24.0,Irvine,irvine,learningfuze,10862
1,16806,"San Diego, CA, United States",1.0,United States,US,6.0,California,CA,california,11.0,San Diego,san-diego,learningfuze,10862

In [7]:
comments = [get_comments_school(i) for i in schools_main.keys()]

comments = pd.concat(comments)

In [8]:
badges = pd.concat(badges_list)
badges["description"] = badges["description"].apply(remove_tags)
badges

,name,keyword,description,school,school_id
0,Available Online,available_online,School offers fully online courses,actualize,10505
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,actualize,10505
0,Available Online,available_online,School offers fully online courses,clarusway,11539
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,clarusway,11539
0,Available Online,available_online,School offers fully online courses,learningfuze,10862
...,...,...,...,...,...
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,design-sprint-school,10698
0,Available Online,available_online,School offers fully online courses,general-assembly,10761
1,Verified Outcomes,verified_outcomes,School publishes a third-party verified outcom...,general-assembly,10761
2,Flexible Classes,flexible_classes,School offers part-time and evening classes,general-assembly,10761
3,Accepts GI Bill,accepts_gi_bill,School accepts the GI Bill,general-assembly,10761

### Schools: Cleaning

In [9]:
schools = pd.concat(schools_list)

def schools_cleaning(row):
    from bs4 import BeautifulSoup
    soup = BeautifulSoup(row)
    text = [tag.get_text() for tag in soup.find_all(['p', 'span'])]
    return ' '.join(text)

schools["description"] = schools["description"].apply(schools_cleaning)

In [10]:
schools = schools.set_index("school").reset_index().set_index("school_id").reset_index()
schools.drop(columns=["description","LogoUrl"],inplace=True)
schools.columns=["school_id","school_name","website"]
schools

,school_id,school_name,website
0,10505,actualize,anyonecanlearntocode.com/?utm_source=switchup&...
1,11539,clarusway,clarusway.com/
2,10862,learningfuze,learningfuze.com
3,11035,springboard,www.springboard.com/?utm_source=switchup&utm_m...
4,10643,codesmith,www.codesmith.io
5,10627,code-platoon,www.codeplatoon.org
6,10846,knowledgehut,www.knowledgehut.com
7,11118,udacity,www.udacity.com/?utm_source=switchup&utm_mediu...
8,10517,altcademy,www.altcademy.com
9,11056,tech-elevator,www.techelevator.com
10,10683,dataquest,www.dataquest.io
11,11797,syntax-technologies,www.syntaxtechs.com/
12,10828,ironhack,www.ironhack.com/en
13,11225,tripleten,tripleten.com/?utm_source=referral&utm_medium=...
14,11718,colaberry,www.colaberry.com/
15,11740,maven-analytics,www.mavenanalytics.io/
16,10571,brainstation,brainstation.io
17,11736,ccs-learning-academy,ccslearningacademy.com/
18,10697,designlab,designlab.com
19,11150,ux-design-institute,uxdesigninstitute.com/
20,11584,mento-design-academy,//www.mentodesign.academy/
21,10546,beginex,www.beginex.com
22,10698,design-sprint-school,www.designsprintschool.com
23,10761,general-assembly,generalassemb.ly?utm_source=switchup&utm_mediu...

### Courses: Cleaning

In [11]:
import numpy as np
courses = pd.concat(courses_list)
courses.drop("school", axis=1, inplace=True)
courses.drop_duplicates(subset="courses", inplace=True)
random_ids = np.random.permutation(len(courses))
courses["program_id"]= random_ids
courses.columns = ["program_name", "school_id", "program_id"]
courses.set_index("program_id").reset_index()

     program_id                                       program_name school_id
0           144               Actualize Coding Bootcamp: Full-Time     10505
1            35               Actualize Coding Bootcamp: Part-Time     10505
2           100             Actualize Coding Bootcamp: Online Live     10505
3           118                            AWS Solutions Architect     11539
4           137  AWS Solutions Architect - Premium Full Time/Pa...     11539
..          ...                                                ...       ...
170         138                   React Development (Short Course)     10761
171         126          Software Engineering Bootcamp (Full-Time)     10761
172          17              User Experience Design (Short Course)     10761
173         153        User Experience Design Bootcamp (Full-Time)     10761
174          68                       Visual Design (Short Course)     10761

[175 rows x 3 columns]

### Location: Cleaning

In [18]:
locations.drop(columns=["country.abbrev", "state.id", "state.abbrev", "country.id","state.name", "state.keyword", "description", "city.id", "city.keyword","school"], inplace = True)
locations.columns=["location_id","country_name","city_name","school_id"]
locations

KeyError: "['country.abbrev', 'state.id', 'state.abbrev', 'country.id', 'state.name', 'state.keyword', 'description', 'city.id', 'city.keyword', 'school'] not found in axis"

### Comments: Cleaning

In [13]:
to_drop = ["body", "name", "hostProgramName", "rawBody","queryDate", "user", "comments", "tagline","overallScore","review_body"]
for i in to_drop:
    comments.drop(i, axis=1, inplace=True)

In [14]:
comments.columns=["comment_id","anonymous","year","alumni","job_title","comment_date","program_name","overall_score","curric_score","job_score","school_name"]

In [15]:
comments = comments.merge(schools, on='school_name', how='left')
comments['school_id'] = comments['school_id'].fillna('N/A')
comments.drop(columns=['school_name','website'], axis=1, inplace=True)
comments['year'] = comments['year'].fillna(0).astype(int)

In [16]:
comments = comments.merge(courses, on='program_name', how='left')
comments["program_id"]=comments["program_id"].fillna("N/A")
comments.drop(columns=['school_id_y'], axis=1, inplace=True)
comments.rename(columns={"school_id_x":"school_id"},inplace=True)

In [17]:
drop=comments[comments["program_id"]=="N/A"].index
comments.drop(index=drop,inplace=True)
comments.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4927 entries, 0 to 9417
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   comment_id     4927 non-null   int64
 1   anonymous      4927 non-null   bool
 2   year           4927 non-null   int32
 3   alumni         4927 non-null   object
 4   job_title      3860 non-null   object
 5   comment_date   4927 non-null   object
 6   program_name   4927 non-null   object
 7   overall_score  4927 non-null   object
 8   curric_score   4899 non-null   object
 9   job_score      4219 non-null   object
 10  school_id      4927 non-null   object
 11  program_id     4927 non-null   object
dtypes: bool(1), int32(1), int64(1), object(9)
memory usage: 447.5+ KB

In [20]:
comments['program_id'] = comments['program_id'].astype(int)

In [21]:
comments.drop("program_name", axis=1, inplace=True)

In [24]:
comments

,comment_id,anonymous,year,alumni,job_title,comment_date,overall_score,curric_score,job_score,school_id,program_id
0,305645,True,2023,False,,10/13/2023,5.0,5.0,5.0,10505,100
1,305528,False,2023,False,,10/10/2023,5.0,5.0,5.0,10505,100
2,304869,True,2023,True,,9/14/2023,5.0,5.0,5.0,10505,100
3,304868,False,2023,False,Senior IT Specialist,9/14/2023,5.0,5.0,5.0,10505,144
4,304866,True,2023,True,,9/14/2023,5.0,5.0,5.0,10505,100
...,...,...,...,...,...,...,...,...,...,...,...
9402,232631,False,2014,True,None,8/20/2015,5.0,NaN,NaN,10761,108
9403,232630,False,2015,True,None,8/20/2015,5.0,NaN,NaN,10761,143
9404,232628,False,2014,True,None,8/19/2015,5.0,NaN,NaN,10761,143
9405,232620,False,2015,True,None,8/16/2015,5.0,NaN,NaN,10761,108
9417,232565,False,2015,True,None,8/10/2015,5.0,5.0,NaN,10761,159

# Creating DB and tables in SQL

In [29]:
import mysql.connector
from getpass import getpass
password=getpass() #this makes sure that you cannot see password as you are typing it
cnx=mysql.connector.connect(user="root",password=password,host="localhost",database="sakila")
cnx.is_connected()

········

True

Creating database:

In [30]:
cursor=cnx.cursor()
query=("""CREATE DATABASE IF NOT EXISTS bootcamp""")
cursor.execute(query)

Creating tables:

In [31]:
query=("""CREATE TABLE IF NOT EXISTS bootcamp.schools
            (school_id INT NOT NULL PRIMARY KEY,
            school_name VARCHAR(250) NOT NULL,
            website VARCHAR(250)
            )""")
cursor.execute(query)

In [32]:
query=("""CREATE TABLE IF NOT EXISTS bootcamp.programs
            (program_id INT NOT NULL PRIMARY KEY,
            program_name VARCHAR(250) NOT NULL,
            category VARCHAR(25) NOT NULL,
            school_id INT NOT NULL,
            FOREIGN KEY (school_id) REFERENCES schools(school_id)
            )""")
cursor.execute(query)

In [33]:
query = (""" CREATE TABLE IF NOT EXISTS bootcamp.location
            (location_id INT NOT NULL PRIMARY KEY, 
            country_name VARCHAR(250) DEFAULT 'Online',
            city_name VARCHAR(250) DEFAULT 'Online', 
            school_id INT NOT NULL,
            FOREIGN KEY (school_id) REFERENCES schools(school_id)
            )""")
cursor.execute(query)

In [34]:
query=("""CREATE TABLE IF NOT EXISTS bootcamp.comments
            (comment_id INT NOT NULL PRIMARY KEY,
            anonymous boolean,
            year INT DEFAULT 0,
            alumni boolean,
            job_title VARCHAR(250),
            comment_date varchar(250) NOT NULL,
            overall_score float,
            curric_score float,
            job_score float,
            school_id INT NOT NULL,
            program_id INT NOT NULL,
            FOREIGN KEY (program_id) REFERENCES programs(program_id),
            FOREIGN KEY (school_id) REFERENCES schools(school_id)
            )""")
cursor.execute(query)

# IMPORT TO SQL

In [35]:
import pymysql
from sqlalchemy import create_engine

In [36]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=password,
                               db="bootcamp"))

In [37]:
schools.to_sql("schools",con = engine, if_exists = 'append', chunksize = 1000,index=False)

24

In [38]:
courses.to_sql("programs",con = engine, if_exists = 'append', chunksize = 1000,index=False)

175

In [39]:
comments.to_sql("comments",con = engine, if_exists = 'append', chunksize = 1000,index=False)

4927

In [40]:
locations.to_sql("location",con = engine, if_exists = 'append', chunksize = 1000,index=False)

56

## Testing with Courses DataFrame

In [25]:
data_analytics_keywords = [
    'data',
    'analytics',
    'business intelligence analytics',
    'predictive analytics for business',
    'marketing analytics',
    'natural language processing',
    'deep learning',
    'machine learning'
]
filtered_programs = [program for program in courses["program_name"].str.lower() if any(keyword in program for keyword in data_analytics_keywords)]
courses.loc[courses['program_name'].str.lower().isin(filtered_programs), 'category'] = 'data'
courses["category"].value_counts()

data    45
Name: category, dtype: int64

In [26]:
web_development_keywords = [
    'web wwvelopment',
    'web',
    'develop',
    'software',
    "java",
    "stack",
    "coding"
]
filtered_programs = [program for program in courses["program_name"].str.lower() if any(keyword in program for keyword in web_development_keywords)]
courses.loc[courses['program_name'].str.lower().isin(filtered_programs), 'category'] = 'web development'
courses["category"].value_counts()

web development    51
data               45
Name: category, dtype: int64

In [27]:
ux_keywords = [
    'ui',
    'ux',
    'user experience',
    'user interface',
    'design',
]
filtered_programs = [program for program in courses["program_name"].str.lower() if any(keyword in program for keyword in ux_keywords)]
courses.loc[courses['program_name'].str.lower().isin(filtered_programs), 'category'] = 'UX/UI Design'
courses["category"].fillna('Other', inplace=True)
courses["category"].value_counts()

Other              53
web development    50
data               45
UX/UI Design       27
Name: category, dtype: int64

In [52]:
x = courses[courses["category"]=="Other"]
x["program_name"].unique()

array(['AWS Solutions Architect',
       'AWS Solutions Architect - Premium Full Time/Part Time',
       'AWS Solutions Architect/DevOps Engineer',
       'AWS Solutions Architect/DevOps Engineer - Premium Full Time/Part Time without ITF',
       'CompTIA Security+ Certificate Training',
       'Cyber Security Analyst Professional',
       'Cyber Security Operation Center (C-SOC) Experience',
       'DevOps Engineer', 'DevOps Engineer - Premium Full Time/Part Time',
       'Kubernetes CKAD', 'Salesforce Administrator & Consultant',
       'Salesforce Advanced Flow Course',
       'Full Immersion 14-Week Program', 'LFZ Prep Course',
       'Part Time Comprehensive Program', 'Cyber Security Career Track',
       'Tech Sales Career Track', 'NYC Onsite Immersive', 'CS Prep',
       'DevOps Cloud Engineering', 'AI Engineer Bootcamp',
       'AI Programming with Python', 'Al Product Manager',
       'Android Basics', 'Artificial Intelligence',
       'Artificial Intelligence for Trading', 'C++',
       'Cloud Dev Ops Engineer', 'Computer Vision',
       'Deep Reinforcement Learning', 'Digital Marketing',
       'Introduction to Programming', 'React',
       'Self-Driving Car Engineer', 'Cyber Security Course',
       'SDET Automation Testing Course', 'Cyber Security Bootcamp',
       'Cybersecurity Part-Time', 'Quality Assurance Engineering',
       'Artificial Intelligence Course', 'Cybersecurity Course',
       'Digital Marketing Course', 'Marketing Leadership Course',
       'Product Leadership Course', 'Product Management Course',
       'Python Course', 'Search Engine Marketing Course',
       'Social Media Marketing Course', 'Cybersecurity Bootcamp',
       'Online Bootcamp (self-paced)', 'Digital Marketing (Short Course)',
       'Product Management (Short Course)',
       'Python Programming (Short Course)'], dtype=object)